html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    flex: 1;
    display: flex;
    flex-direction: row;
}


.color1 { background-color: #a0c4ff; } 
.color2 { background-color: #bdb2ff; } 
.color3 { background-color: #ffc6ff; } 
.color4 { background-color: #caffbf; }

header, footer { background-color: #a0c4ff; }

nav, aside {
    flex: 1;
}

main {
    flex: 3;
}